.redbackgroundButton {
    background: #C9132C;
    border-color: #E33D54;
}
.redbackgroundButton:hover {
    background: #9E051A;
    border-color: #B10D24;
}

.noMatchPic {
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    height: 80%;
    width: 80%;
}
.noMatchGrad {
    position: absolute;
    z-index: -1;
    height: 110%;
    width: 110%;
    background: linear-gradient(to right, rgba(157, 212, 241, 0.7), rgba(157, 212, 241, 0.2));
    opacity: 1.0;
}

