.backgroundPicRegist {
    background-image: url("../../img/regest2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 1500px) {
    .backgroundPicRegist {
        background-image: url("../../img/regest.jpg");
    }
}

.centerImg {
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
}

.closeButt {
    position: absolute;
    margin-right: 10px;
    cursor: pointer;
    border: 0 !important;
    right: 0;
}


.passInp {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 40px;
}

.buttonInline {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    top: 0;
    right: 0;
    position: absolute;
}

.password-row {
    position: relative;
    margin: 0 !important;
}