/* Fixing multiple Popups */
.addPassPopUp {
    z-index: 1030;
}

.modal-backdrop {
    z-index: 1030;
}

/* slider */
.custom-range {

}

/* Checkbox clickable */
.clickableBox input {
    cursor: pointer;
}
.clickableBox label {
    cursor: pointer;
}

.visMargin {
    margin-bottom: 0.5rem;
}

.userRemove {
    font-size: 1.1rem;
}

.errorMargin {
    margin: 0 !important;
}
.fixErrorMsg {
    position: relative;
    right: 8%;
    width: 100%;
    text-align: right;
}


@media (max-width: 425px) {
    .fixed-bot-easypass {
        position: fixed;
        /* 132 + 5 */
        bottom: 10px;
        right: 0;
        left: 0;
    }
}

@media (min-width: 425px) {
    .fixed-bot-easypass {
        position: fixed;
        /* 86 + 5 */
        bottom: 10px;
        right: 0;
        left: 0;
    }
}