/* Fixing multiple Popups */
.addPassPopUp {
    z-index: 1030;
}

.modal-backdrop {
    z-index: 1030;
}

/* slider */
.custom-range {

}

/* Checkbox clickable */
.clickableBox input {
    cursor: pointer;
}
.clickableBox label {
    cursor: pointer;
}