body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.size-hole-window-hidden-scroll {
    z-index: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixMain {
    overflow-y: auto;
    height: calc(100% - 86px);
    right: 0;
    position: absolute;
}

.fixScroll {
    display: flex;
}

@media (max-width: 425px) {
    .fixMain {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
