body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.size-hole-window-hidden-scroll {
    z-index: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixMain {
    overflow-y: auto;
    height: calc(100vh - 86px);
    right: 0;
    position: fixed;
    padding-bottom: 75px;
    transition: height 0.35s ease;
}

.expanded {
    height: calc(100vh - 161px) !important;
    transition: height 0.35s ease;
}
.expadedSettings {
    /* 209.2 */
    /* 160.8 */
    height: calc(100vh - 210px) !important;
}

removeAnimation {
    transition: height 0s ease !important;
}

.fixScroll {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 425px) {
    .fixMain {
        flex: 0 0 100%;
        max-width: 100%;
        height: calc(100vh - 151px);
    }

    .expanded {
        height: calc(100vh - 226px) !important;
        transition: height 0.35s ease;
    }

    .expadedSettings {
        /* 209.2 */
        /* 160.8 */
        height: calc(100vh - 275px) !important;
    }
}
